{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        To Do List - Projets
    {% endif %}
{% endblock %}

{% block body %}
    <div class="row color-dark">
        <h1 class="color-dark col-12 mb-5">Projet {{ project.subject }}</h1>

        {#read and display all flash messages if there is#}
        {% if app.flashes %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {# shows project list if there is one #}
        {% if project %}
            <section class="container col-12 row mx-auto">
                <div class='col-12 my-3 mx-auto'>
                    <div class='card mx-1 border border-2 border-warning'>
                        <div class='card-body bg-dark d-flex justify-content-between'>
                            <h5 class='card-title text-warning col-10'>{{ project.subject}}</h5>
                            <div
                                {# depending if the project is closed or not send a different value to change status #}
                                {% if not project.status %}
                                    class="alert alert-success p-2 col-2 text-center" role="alert">Terminé
                                {% else %}
                                    class="alert alert-danger p-2 col-2 text-center" role="alert">À faire
                                {% endif %}
                            </div>
                        </div>
                        <div class='row py-3 text-center'>
                            <p class='col-6'> Créé le : {{project.creationDate|date('d/m/Y')}}</p>
                            <p class='col-6'> Fin le : {{project.deadlineDate|date('d/m/Y')}}</p>
                        </div>
                        <hr>
                        <div class='row p-5'>
                            <p><strong>Description : </strong>{{project.description}}</p>
                        </div>
                        <hr>
                        <div class='row py-3 px-5'>
                            <h4>Liste des tâches :</h4>
                            <ul class="list-group list-group-flush list-group-numbered px-5">
                                {% set break = false %}
                                {% if project.tasks is not empty %}
                                    {% for task in project.tasks %}
                                        <li class="list-group-item d-row d-lg-flex justify-content-between align-middle">
                                            <p
                                                {# depending if the task is closed or not send a different value to change status #}
                                                {% if not task.status %}
                                                    class="alert alert-success p-2 col-12 col-lg-2 text-center" role="alert">Terminé
                                                {% else %}
                                                    class="alert alert-danger p-2 col-12 col-lg-2 text-center" role="alert">À faire
                                                {% endif %}
                                            </p>
                                            <p class="p-0 m-0 col-12 col-lg-5" >{{task.title}}</p>
                                            <p class="p-0 m-0 col-12 col-lg-2" >Avant le : {{task.deadlineDate|date('d/m/Y')}}</p>
                                            <a href="{{ path('task_show', {'id': task.id}) }}" class='btn btn-warning col-12 col-lg-2'>Consulter</a>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <p class='fs-3'>aucune tâche</p>
                                    {% set break = true %}
                                {% endif %}
                            </ul>
                            <div class="d-flex justify-content-center align-middle">
                                <a href="{{ path('task_new', {'id': project.id}) }}" class='btn btn-warning m-2'>Ajouter une tâche</a>
                            </div>
                        </div>
                        <div class='card-body bg-dark text-center'>
                            <a href="{{ path('project_index') }}" class='btn btn-warning m-2'>Revenir à la liste</a>
                            {{ include('project/_delete_form.html.twig') }}
                            <a href="{{ path('project_edit', {'id': project.id}) }}" class='btn btn-warning m-2'>Modifier</a>
                        </div>
                    </div>
                </div>
            </section>
        {# if not show a message #}
        {% else %}
            <p class="lead">Aucun projet enregistré, veuillez créer votre premier projet grâce au lien dans la barre de navigation.</p>
        {% endif %}
    </div>
{% endblock %}
